// Alias Primary
$color-primary: #29d !default;
$color-primary-sec: #29d !default;
$color-primary-dark: darken($color-primary, 8%) !default;
$color-primary-light: lighten($color-primary, 8%) !default;
$color-primary-lighter: lighten($color-primary, 20%) !default;
$color-primary-low: lighten($color-primary, 33.5%) !default;
