.colorful {
  color: #29d;
}

.title {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding-right: 5px;
  cursor: pointer;
  vertical-align: bottom;
  line-height: 20px;
  &:hover {
    border-bottom: 1px solid #29d;
    // color: #29d;
  }
}

.description {
  border-left: 3px solid #29d;
  padding-left: 12px;
  margin: 16px 0;
}

.link {
  line-height: 21px;
  margin-left: 12px;
}

.view {
  background: #fafafa;
  padding: 8px;
  margin-bottom: 40px;
}

.wrapStyle {
  height: 20px;
  .drawerTitle {
    display: flex;
    align-items: center;
    i {
      color: #52c41a;
    }
  }
}

.mt {
  margin-top: 30px;
}

.mt2 {
  margin-top: 45px;
}

.mt1 {
  margin-top: 20px;
}

.crumbClass {
  li {
    color: red;
  }
}

.types {
  margin-bottom: 12px;
  & > div {
    padding-left: 40px;
    margin-top: 4px;
  }
  span {
    color: #e96900;
    margin: 0 2px;
    padding: 3px 5px;
    background-color: #f8f8f8;
  }
}

.tips {
  display: inline;
  font-size: 13px;
  color: rgba($color: #000000, $alpha: 0.4);
}

.section {
  display: flex;
  flex-flow: row nowrap;
  section {
    flex: 1;
  }
}
