.colorful {
  color: #29d;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: all 0.3s;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding-right: 5px;
  cursor: pointer;
  font-size: 20px;
  vertical-align: bottom;
  line-height: 20px;
  &:hover {
    border-bottom: 1px solid #29d;
    // color: #29d;
  }
}

.view {
  background: #fafafa;
  padding: 8px;
  margin-bottom: 40px;
}
