.mainContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.viewBody {
  padding: 24px;
  flex: auto;
  height: calc(100vh - 100px);
  overflow: auto;
}

.crumbRow {
  display: flex;
  align-items: center;
}
